



<div class="resume-row">
   <div class="resume-col-header">Awards</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">2022 Award for being so cool. </span>
            <span class="description">
            Just for being a really cool person.
            </span>
            <span class="date">2022.</span>
            <span class="location">My really cool company.</span>
         </div>
            <div class="list-item">
            <span class="header">2021 Another Award. </span>
            <span class="description">
            Cannot help being this cool.
            </span>
            <span class="date">2015-2020.</span>
            <span class="location">New York University.</span>
         </div>
         <div class="list-item">
            <span class="header">Summa Cum Laude Award. Computer Science.</span>
            <span class="description"></span>
            <span class="date">Fall 2012.</span>
            <span class="location">Honors Convocation, Southern Connecticut State University.</span>                
         </div>
      </div>  

   </div>

</div>


<div class="resume-row">
   <div class="resume-col-header ">Languages</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">Back-end: </span>
            <span class="description">Java, Spring MVC, PostgreSQL, SQL, C#, Python, node.js</span>          
         </div>
         <div class="list-item">
            <span class="header">Front-end: </span>
            <span class="description">JavaScript, jQuery, D3.js, React, Angular, SASS, CSS</span>    
         </div>
         <div class="list-item">
            <span class="header">Tools & Systems: </span>
            <span class="description">TensorFlow, MATLAB, Unity 3D, AWS, Android SDK, Blender 3D</span>          
         </div>
      </div>

   </div>
</div>



<div class="resume-row">
    <div class="resume-col-header">Talks</div>
    <div class="resume-col-content">

        <div class="list">
            <div class="publication-item">
                <span class="title">How to give really cool presentations.</span>
                <span class="date">Fall 2022.</span>
                <span class="location">Remote, Rensselaer Polytechnic Institute, Communications Course.</span>
                <span class="links">
              </span>
            </div>
            <div class="publication-item">
                <span class="title">Another talk about communication.</span>
                <span class="date">Spring 2022.</span>
                <span class="location">Remote, University of California, Santa Cruz, Communications Course.</span>
                <span class="links">
              </span>
            </div>
        </div>

    </div>
</div>

<div class="resume-row">
    <div class="resume-col-header">Work Experience</div>

    <div class="resume-col-content ">
        <div class="content-text-box">
            <div class="header">Research Scientist.</div>
            <div class="date">April 2021 to Present.</div>
            <div class="location">IBM Research, San Jose, California.</div>
            <div class="description">
                <p>My tasks at the company.</p>
                <p>My impact at the company.</p>
            </div>
            <div class="links"></div>
        </div>
        <div class="content-text-box">
            <div class="header">Remote Developer.</div>
            <div class="date">Spring 2021.</div>
            <div class="location">Cool Company, Chicago, Illinois.</div>
            <div class="description">
                <p>My tasks at the company.</p>
                <p>My impact at the company.</p>
            </div>
            <div class="links"></div>
        </div>
    </div>
</div>


<div class="resume-row">
    <div class="resume-col-header">Education</div>
    <div class="resume-col-content ">
        <div class="content-text-box">
            <div class="header">Ph.D. in Computer Science.</div>
            <div class="date" >2015-2020.</div>
            <div class="location">New York University</div>
            <div class="links">
                <a href="https://www.proquest.com/docview/yourphd">Dissertation</a>
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">B.S. in Computer Science. </div>
            <div class="date">2010-2012.</div>
            <div class="location">Southern Connecticut State University.</div>
            <div class="description">
                <p>Cum Laude. 4.0/4.0 GPA. </p>
            </div>
            <div class="links">
            </div>
        </div>

    </div>
</div>

<div class="resume-row">
    <div class="resume-col-header">Research Work</div>
    <div class="resume-col-content">
        <div class="content-text-box">
            <div class="header">The title to a really cool project </div>
            <div class="date">Fall 2022 to Present</div>
            <div class="description">
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">Title to another really cool project </div>
            <div class="date">Summer 2022 to Present</div>
            <div class="description">

                <div class="list tabbed">
                    <div class="publication-item">
                        <span class="header">Publication Paper.</span>
                        <span class="title">
                         "Title of the paper" The authors list here. CoolConference 2022.
                     </span>
                        <span class="links">
                            <a href="youtube.com">Video Demo.</a>
                     </span>
                    </div>
                    <div class="publication-item">
                        <span class="header">Poster.</span>
                        <span class="title">
                         "Title of the poster" The authors list here. CoolConference 2021.
                     </span>
                        <span class="links">
                            <a href="drive.com">Poster.</a>
                     </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


